body{
	font-family: helvetica;
	padding-bottom: 70px;
	-webkit-font-smoothing: anti-aliased;
}
.masthead{
	color: #C7FFD0;
	background-color: #22AD5C;
	letter-spacing: 2px;
}
.masthead-heading{
	text-align: center;
	margin-bottom: 0.5em;
}
.masthead-intro{
	text-align: center;
	margin-top: -0.2em;
}
.tweetApp{
	
}
.info{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	padding-left: 20px;
	text-align: center;
	letter-spacing: 1px;
}
.info h2 { 
	color: rgba(0, 155, 65, 0.89);
	letter-spacing: 2px;
}
.info h3{
	margin-top: 0px;
	margin-bottom: 20px;
	color: rgba(112, 148, 127, 0.5);
	letter-spacing: 2px;
}
.info p{
	text-align: left;
}
.info-container{
	text-align: center;
}
.tweetFooter{
	text-align: center;
	background-color: rgba(34, 173, 92, 0.16);
	padding-top: 15px;
	border-top: 1px solid rgba(2, 5, 3, 0.05);
}
